*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: gray;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;}
article{
    margin: 50px auto;
    background: white;
    width: 1440px;
    padding-top: 119px;
    padding-right: 116px;
    padding-left: 190px;
    padding-bottom: 119px;
}
.title{
    width: 853px;
    min-height: 342px;
    font-size:64px;
}
.oneblock{
    display: inline-flex;
    padding: 30px avto;
    width: 1131px;
    font-size: 24px;
}
.onearticle{
    width: 745px;
    margin-left: 50px;
    padding-right: 50px;
}
.block{
    position: relative;
    min-width: 330px;
    margin-top: 30px;
    padding-right: 0px;
}
.quote{
    background-color: rgb(217, 217, 217);
    width: 330px;
    border-radius: 30px;
    padding: 20px;
}
.authorquote{
    margin-left: 100px;
}
.quote img{
    position: absolute;
    bottom: 240px;
}
.sheaker{
    position: absolute;
    top: 230px;
    left: 50px;
}
.onesheaker{
    position: absolute;
    bottom: 120px;
}
.minisheaker{
    position: absolute;
    top: 265px;
    left: 0px;
}
.threesheaker{
    position: absolute;
    top: 130px;
    left: 120px;
}
.imgsheaker{
    position: absolute;
    left: 40px;
}
.imgtwosheaker{
    position: absolute;
    top: 230px;
    left: 200px;
}
.twoarticle{
    margin-left: 400px;
}
.imagequote{
    position: absolute;
    top: 210px;
    left: 40px;
}
.imagesheakerstwo{
    position: absolute;
    top: 280px;
    left: 120px;
}
.imagesheakersone{
    position: absolute;
    top: 310px;
    right: 250px;
}
.ligth{
    position: absolute;
    top: 40px;
    left: 220px;
}
.image-sheaker{
    position: absolute;
    left: 20px;
}