*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: gray;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;}
article{
    margin: 50px auto;
    background: white;
    width: 1440px;
    padding-top: 119px;
    padding-right: 116px;
    padding-left: 193px;
    padding-bottom: 119px;
}
.title{
    width: 853px;
    min-height: 342px;
    font-size:64px;
}
.quote{
    display: inline-block;
    text-align: center;
    background-color: rgb(217, 217, 217);
    width: 330px;
    border-radius: 30px;
    padding: 5px;
    margin-right: 956px;
    margin-top: 100px;
    font-size: 24px;
}
.authorquote{
   margin-top:-70px ;
   margin-left: 96px;
}
.quote img{
    margin-left: -150px;
    margin-bottom: 20px;
}

.sheaker{
    width: 225px;
    height: 225px;
    margin-left: 40px;
}
.sneakersevents{
    width: 745px; ;
    min-height: 315px; ;
    margin-top: -440px;
    margin-left: 400px;
    font-size: 24px;
}
.history{
    width: 745px;
    margin-top: 99px;
    font-size: 24px;
}
.sheakers{
    margin-top: -400px;
    margin-left:800px;
}
.minisheaker{
    margin-top: -10px;
}
.threesheaker{
    margin-top:-250px;
    margin-left: 160px;
}
.imagesheakers{
    margin-top:-52px;
}
.imageminisheaker{
    margin-left: 145px;
}
.twohistory{
    width: 700px;
    margin-top: -350px;
    margin-left: 400px;
    font-size: 24px;
}
.threehistory{
    width: 749px;
    font-size: 24px;
}
.quotetwo{
    background-color: rgb(217, 217, 217);
    width: 340px;
    border-radius: 30px;
    padding: 20px;
    margin-top: -350px;
    margin-left: 800px;
    font-size: 24px;
}
.quotetwo img{
    margin-bottom: 10px;
    margin-left: 10px;
}
.imagesheakersone{
    margin-left: 750px;
}
.imagesheakerstwo{
    margin-top: -170px;
    margin-left: 930px;
}
.quotethree{
    display: inline-block;
    text-align: center;
    background-color: rgb(217, 217, 217);
    width: 340px;
    border-radius: 30px;
    padding: 20px;
    font-size: 24px;
}
.quotethree img{
    margin-top: -120px;
    margin-left: 240px ;
    margin-bottom: -20px;
}
.quotetfakt{
    margin-bottom: -40px;
}
.imgsheaker{
    margin-top: -200px;
    margin-left: 30px;
}